[submodule "themes/pico"]
	path = themes/pico
	url = https://github.com/negrel/hugo-theme-pico.git
[submodule "themes/osprey-delight"]
	path = themes/osprey-delight
	url = https://github.com/kdevo/osprey-delight.git
